[Unit]
Description=test-foo
After=network.target

[Service]
ExecStart=/usr/local/bin/test-foo
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
